/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"); */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #000;
}

header {
  position: relative;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  width: 100%;
  height: 100vh; /* высота  */
  
  /* background-color: #1e4776; */
  /* background: url(./../img/header/header-bg.jpg) no-repeat center; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 56px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
}

.header-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;

  display: block;
  width: 48px;
  height: 48px;

  transform: translate(-50%, 0);
  transition: all 0.2s ease-in;
}

.header-arrow:hover {
  transform: translate(-50%, -15px);
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 120px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-header {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
}

.portfolio-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
  max-width: 540px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  cursor: pointer;
}

.card:nth-last-child(2),
.card:last-child {
  margin-bottom: 0;
}

.card-image_1,
.card-image_2,
.card-image_3,
.card-image_4 {
  margin-bottom: 20px;
  width: 100%;
}

.card-image_1:hover {
  background-image: url(https://vk.com/doc442553439_549648554?hash=326bd5a83641fd4719&dl=5018643792a18d566d);
}
.card-image_2:hover {
  background-image: url(https://vk.com/doc442553439_549648625?hash=12a4bb735e64c64288&dl=88afb35c963f687b02);
}
.card-image_3:hover {
  background-image: url(https://vk.com/doc442553439_549648655?hash=542a93dfa7f9a65ec8&dl=2562863682576b33c6);
}
.card-image_4:hover {
  background-image: url(https://vk.com/doc442553439_549648676?hash=542a3c011e3ce87a77&dl=6be50b3bcd106e51ab);
}

.card-title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}

.card p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
}

/* Footer */

.footer {
    padding-top: 40px;
    padding-bottom: 134px;
    background-color: #1E4776;
    color: #fff;
  
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.footer-copyright {
    width: 350px;
    flex-shrink: 0;
    color: #7E9EC9;
}

.footer-copyright p {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    
}

.footer-copyright-name {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
    
}

.footer-icons {
    width: 350px;
    flex-shrink: 0;
    flex-grow: 0;
}


.footer-icons p {
    margin: 10px 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
}

.footer-icons-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-icons-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    text-align: center;
    /* background-color: red; */
    margin-right: 0px;
}

.footer-icons-list li + li {
    margin-left: 30px;
}

.footer-icons-list a {
    
}

.footer-icons-list img {
    vertical-align: middle;
    
}

.footer-contacts {
    padding-top: 5px;
    width: 350px;
    flex-shrink: 0;
    flex-grow: 0;
}

.footer-contacts p {
    font-size: 16px;
    line-height: 1.3;
    color: #7E9EC9;
}
.footer-button {
    display: inline-block;
    padding: 17px 30px;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    height: 50%;
    
    
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
}










.none {
  display: none;
}
